{{#extend "page"}}
{{#content "content"}}
<table class="table">
    <tr>
        <th>Nom</th>
        <th>Créé le</th>
        <th>Mis à jour le</th>
        <th>Actions</th>
    </tr>
    {{#each templates}}
    <tr>
        <td>{{name}}</td>
        <td>{{formatDate createdAt}}</td>
        <td>{{formatDate updatedAt}}</td>
        <td>
            <a href="/templates/generate/{{_id}}">
                Génerer
            </a>
            <a href="/templates/{{_id}}">
                Editer
            </a>
            <a href="/templates/{{_id}}/delete">
                Supprimer
            </a>
        </td>
    </tr>
    {{/each}}
</table>
<a href="/templates/create">
    Créer un nouveau template
</a>
{{/content}}
{{/extend}}